    <div class="head">
        <div class="logo">
        <a href="#">Logo</a>
        </div>
        <nav class="navbar">
            <a href="#" >Inicio</a>
            <a href="#">Nosotros</a>
            <a href="#">Contacto</a>
            <a href="#">Productos</a>
            <a href="#">Precio</a>
        </nav>
    </div>
    <header class="content header">
        <h2 class="title">Inicio</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, nostrum, reprehenderit repellendus temporibus consequuntur dolore, molestiae qui vel a doloremque laudantium et corrupti quasi maxime? Iure nisi debitis accusantium iusto.</p>
        <div class="btnHome">
            <a href="/register" class="btn">Register</a>
            <a href="/login" class="btn">iniciar sesion</a>
        </div>
    </header>
    <section class="content sau">
        <h2 class="title">Productos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi asperiores consequuntur voluptates blanditiis voluptatem iste corporis, labore maiores vel minus quod sequi, a debitis doloremque illo rem quaerat nulla! Molestias.</p>
        <div class="box-container">
            <div class="box">
                <i class="fab fa-angular"></i>
                <h3>lorem</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium </p>
            </div>
            <div class="box">
                <i class="fab fa-apple"></i>
                <h3>lorem</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium </p>
            </div>
            <div class="box">
                <i class="fab fa-android"></i>
                <h3>lorem</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium </p>
            </div>
        </div>
    </section>
    <section class="content about">
        <h2 class="title">Nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto tenetur iusto ducimus dicta aperiam? Aperiam, voluptatem, quo deserunt voluptate cumque dolore incidunt consectetur, molestias repellat cupiditate amet? Odit, ipsam enim!</p>
        <a href="#" class="btn">Saber mas</a>
    </section>
    <section class="content price">
        <article class="contain">
            <h2 class="title">Precio</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et iure ducimus maiores facilis similique asperiores nisi impedit vero ipsam molestiae? Et, autem temporibus quaerat sit harum repellendus unde inventore ipsa.</p>
            <a href="#" class="btn">Saber precio</a>
        </article>
    </section>
    <section class="content contact">
        <h2 class="title">Contacto</h2>
        <p><i class="fa fa-phone"></i>    76175351</p>
        <figure class="map">
            <img src="../../../assets/mapa.png" alt="mapa" height="220px" width="100%">
        </figure>
    </section>


