<div class="bg" style="padding: 149px;">
    <div class="bglogin">
        <h2 style="text-align: center;">Login de usuario</h2>
<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <input style="margin-bottom: 10px;" class="btnsub" type="submit" value="Enviar">
</form>
<button class="btn btn-dark" (click)="onClick()">Login With Google</button>
    </div>
</div>